package templates

import (
	"github.com/go-microfrontend/host-page/internal/domain"
	"strconv"
)

templ Item(item *domain.Item) {
	<h1>{ item.Name }, { item.Type }</h1>
	<h2>{ item.Description } </h2>
	<h2>It also weighs { strconv.Itoa(int(item.WeightInGrams)) }</h2>
	<h2>There are only { strconv.Itoa(int(item.Amount.Int32)) } left</h2>
}
